apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "{{ item }}-pv"
spec:
  capacity:
    storage: "1Gi"
  accessModes:
    - ReadWriteOnce
  nfs:
    path: "/var/export/{{ item }}"
    server: "{{ nfs_internal_hostname }}"